.navbar-brand {
  color: #ffffff;
  font-size: 30px;
}
.container {
  background: #000000;
  width: 80%;
}
form {
  margin: 20px;
  padding: 10px;
}
.form-group label {
  font-size: 20px;
  color: #ffffff;
}

.btn {
	box-shadow: 1px 9px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:9px;
	border:2px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:26px;
	font-weight:bold;
	padding:11px 67px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.btn:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.btn:active {
	position:relative;
	top:1px;
}
